<footer class="footer-right-logo slide-up {{footer_background_color}}">
	<div class="container footer-right-logo-container">
		<div class="footer-right-logo-top container">

			<div class="footer-right-logo-menu">
				<h4 class="footer-right-logo-title {{footer_title_color}}">{{ "METRICALO.FOOTER_LINKS"|t }}</h4>
				<div class="frame-24">
					{% for link in config.site.footer.links %}
						{% set link_page = pages.find(link) %}
						{% if link_page %}
							<div class="menu-item">
								<a rel="noopener noreferrer" class="{{footer_text_color}}" href="{{ link_page.url }}">{{ link_page.menu }}</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="footer-right-logo-contact">
				<h4 class="footer-right-logo-title {{footer_title_color}}">{{ "METRICALO.CONTACT_INFO"|t }}</h4>
				<div class="flexcontainer">
					{% include 'widgets/contact.html.twig' %}
				</div>
			</div>

			<div class="footer-right-logo-logo-area">

				{% if theme['footer_logo'] %}
					{% set imageIndex =  array_keys(theme['footer_logo'])[0] %}
					{% set footer_logoArray = theme['footer_logo'][imageIndex] %}
					{% set footer_logoPath = footer_logoArray['path'] %}
					{% set footer_logo = url(footer_logoPath) %}
				{% else %}
					{% set footer_logo = url('theme://images/logo-footer.png') %}
				{% endif %}

				<div class="">
					<img class="logo" src="{{ footer_logo }}" style="width: {{ footer_logo_size }}; height: auto;"/>
				</div>

				<div class="footer-right-logo-cards">
					<img class="master" src="{{ url('theme://images/master.svg') }}"/>
					<div class="visa-wrapper">
						<img class="visa" src="{{ url('theme://images/visa.svg') }}"/>
					</div>
				</div>

			</div>
		</div>

		<div class="footer-right-logo-bottom">
			<p>{{ "METRICALO.COPYRIGHT"|t }}
				{{ "now"|date('Y') }},
				{{ data.business }}
				-
				{{ data.company.address }},
				{{ data.company.city }},
				{{ data.company.postcode }},
				{{ data.company.country }}
				-
				{{ "METRICALO.RIGHTS_RESERVED"|t }}.</p>
		</div>

	</div>
</footer>
<style>
	{% include 'partials/custom.css.twig' %}
</style>
