{% if theme['breadcrumb'] %}
    {% set breadcrumbClass = theme['breadcrumb'] %}
{% else %}
    {% set breadcrumbClass = 'bg-primary' %}
{% endif %}

{% if theme['breadcrumb_text_color'] %}
    {% set breadcrumb_text_color = theme['breadcrumb_text_color'] %}
{% else %}
    {% set breadcrumb_text_color = 'text-white' %}
{% endif %}

<div class="{{ max_width }} {{ section_padding }} flex-1 w-full py-24 no-hero-header {{ breadcrumbClass }}">
    <div class="paragraph no-hero slide-up">
        <div class="no-hero-title-wrapper">
            <h1 class="display-1 mb-3 {{breadcrumb_text_color}}">{{ title }}</h1>
            <nav class="d-inline-block no-hero-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for index, link in links %}
                        {% set last = index + 1 == links|length %}
                        <li class="breadcrumb-item {{breadcrumb_text_color}} {{ last ? 'active' : '' }}">
                            {% if link.url %}
                                <a href="{{ link.url }}" class="{{breadcrumb_text_color}}">{{ link.title }}</a>
                            {% else %}
                                {{ link.title }}
                            {% endif %}
                        </li>

                        {% if index + 1 != links|length %}
                            <li class="breadcrumb-item arry {{breadcrumb_text_color}}"><i class="fa-solid fa-chevron-right"></i></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
</div>