<div class="pricing">
	<div class="pricing-content">
		<div class="price">
			<div class="type">
				<div class="type-wrap">{{ plan.name }}</div>
			</div>
			<div class="pricing-group">
				<div class="pricing-wrap">
					<div class="price">
						{% if plan.prices.0 %}
							<h1>{{ plan.prices.0.currency }}
								{{ plan.prices.0.amount|number_format(0,'','') }}</h1>
						{% else %}
							<h1>
								{{ plan.prices.0.currency }}
								{{ plan.fallback_price_eur|number_format(0,'','') }}</h1>
						{% endif %}
					</div>
					<div class="period">
						<p>{{ plan.interval_count }}
							{{ "BSCOPE.DAYS_ACCESS"|t }}</p>
					</div>
				</div>
				<div class="trial">
					<p>{{ plan.trial_days }}-{{ "BSCOPE.TRIAL_DAYS"|t }}
						/
						{{ plan.prices.0.trial_amount|number_format(0,'','')}}
						{{ plan.prices.0.currency }}</p>
				</div>
			</div>
		</div>
		
		<div class="benefits">
			{% for benefit in plan.benefits %}
				<div class="benefit">
					<img class="check" src="{{ url('theme://images/check.svg') }}"/>
					<div class="streamline">{{ benefit|markdown(false) }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<a class="pricing-btn button" href="{{ url(plan.purchase_url) }}">Get Started</a>

</div>
